.footer {
  padding-top: 89px;
  padding-bottom: 43px;
}
.footer__container {
}
.footer__top {
  display: flex;
  margin-bottom: 188px;
  align-items: flex-start;
}
.footer__info {
  flex: 0 1 380px;
  display: flex;
  flex-direction: column;
  gap: 47px;
}
.footer__logo {
  max-width: fit-content;
  color: var(--yeallow-brand-color, #fc0);
  font-size: 24px;
  font-weight: 600;
  line-height: 1.5;
  transition: color 0.3s ease;
}
.footer__logo:hover {
  color: var(--yeallow-brand-hover);
}
.footer__text {
  line-height: 1.5;
}
.footer__socials {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 50px;
}
.socials {
}
.socials__icon {
  font-size: 30px;
  color: var(--black-font-color);
  transition: color 0.3s ease;
}
.socials__icon:hover {
  color: var(--yeallow-brand-color, #fc0);
}
.footer__menu {
  flex: 1 1 auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}
.menu-footer {
}
.menu-footer__column {
}
.menu-footer__title {
  position: relative;
  margin-bottom: 47px;
  color: var(--black-font-color, #231900);
  font-size: 24px;
  font-weight: 600;
  line-height: 1.5;
  text-transform: uppercase;
  cursor: initial;
}
.footer__menu._init .menu-footer__title {
  width: 100%;
  text-align: left;
}
.footer__menu._init .menu-footer__title::after {
  content: "";
  position: absolute;
  /* right: 12px; */
  right: 0;
  top: 6px;
  width: 12px;
  height: 12px;
  border-top: 2px solid var(--black-font-color, #231900);
  border-right: 2px solid var(--black-font-color, #231900);
  border-radius: 2px;
  transform: rotate(135deg);
  display: inline-block;
  transition: transform 0.2s ease;
}
.footer__menu._init .menu-footer__title._active::after {
  top: 12px;
  transform: rotate(-45deg);
}

.menu-footer__list {
}
.menu-footer__item {
  margin-bottom: 13px;
}
.menu-footer__link {
  color: var(--black-font-color, #231900);
  line-height: 1.5;
  transition: all 0.3s ease;
}
@media (any-hover: hover) {
  .menu-footer__link:hover,
  .menu-footer__link:active {
    color: var(--yeallow-brand-color);
    text-shadow: 0 0 1px var(--yeallow-brand-color),
      0 0 1px var(--yeallow-brand-color);
  }
}
.footer__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--black-font-color, #231900);
  font-size: 18px;
  line-height: 1.5;
}
.footer__copyright {
}
.footer__support {
}
@media (max-width: 991.98px) {
  .footer {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .footer__top {
    flex-direction: column;
    margin-bottom: 28px;
    align-items: initial;
    gap: 27px;
  }
  .footer__info {
    flex: 1 1 auto;
    gap: 17px;
  }
  .footer__socials {
    justify-content: center;
  }
  .menu-footer__title {
    margin-bottom: 20px;
  }
}
@media (max-width: 600px) {
  .footer__top {
    gap: 7px;
  }
  .footer__menu {
    flex-direction: column;
    align-items: stretch;
  }
  .menu-footer__title {
    position: relative;
    margin-top: 15px;
    margin-bottom: 10px;
  }
  .footer__bottom {
    flex-direction: column;
    gap: 15px;
  }
}
@media (max-width: 479.98px) {
  .footer {
    background-color: var(--white-semi-white, #f5f5f5);
  }
}
